<div class="container">
  <h1 class="text-center font-weight-bold text-danger">Accueil</h1>
  <hr>
  <h3 class="text-center font-italic">Retrouvez sur cette page l'ensemble des rumeurs...</h3>
</div>

<% if request.params['gossipRegistered'] && request.params['gossipRegistered'] = true %>
  <div class="container mt-5">
    <div class="alert alert-success" role="alert">
      <p class="h5 text-center font-weight-bold">Votre potin a été enregistré avec succès !</p>
    </div>
  </div>
<% end %>

<main class="container mt-5">
  <div class="card-columns">
    <% @all_gossips.each do |gossip| %>

      <div class="card mb-5" style="width: 300px; ">
        <h5 class="card-header text-center">Potin de <%= gossip.user.first_name%></h5>
        <div class="card-body">
          <h5 class="card-title text-justify"><%= gossip.title%></h5>
          <p class="card-text text-justify"><%= gossip.content%></p>
          <div class="d-flex justify-content-between">
            <a href="/users/<%= gossip.user_id %>" class="btn btn-primary">Voir le profil</a>
            <a href="/gossips/<%= gossip.id %>" class="btn btn-primary">Voir le potin</a>
          </div>
        </div>
        <div class="card-footer text-muted font-italic">
          Crée le <%= gossip.created_at.to_s %>
        </div>
      </div>
      
    <% end %>
  </div> 
</main>