<div class="container">
  <h1 class="text-center font-weight-bold text-danger">Accueil</h1>
  <hr>
  <h3 class="text-center font-italic">Retrouvez sur cette page l'ensemble des rumeurs...</h3>
</div>

<% if request.params['gossipRegistered'] && request.params['gossipRegistered'] == 'true' %>
  <div class="container mt-5">
    <div class="alert alert-success" role="alert">
      <p class="h5 text-center font-weight-bold">Votre potin a été enregistré avec succès !</p>
    </div>
  </div>
<% end %>

<% if request.params['gossipUpdated'] && request.params['gossipUpdated'] == 'true' %>
  <div class="container mt-5">
    <div class="alert alert-success" role="alert">
      <p class="h5 text-center font-weight-bold">Votre potin a été mis à jour avec succès !</p>
    </div>
  </div>
<% end %>

<% if request.params['gossipDestroyed'] && request.params['gossipDestroyed'] == 'true' %>
  <div class="container mt-5">
    <div class="alert alert-success" role="alert">
      <p class="h5 text-center font-weight-bold">Votre potin a été supprimé avec succès !</p>
    </div>
  </div>
<% end %>

<% if request.params['userRegistered'] && request.params['userRegistered'] == 'true' %>
  <div class="container mt-5">
    <div class="alert alert-success" role="alert">
      <p class="h5 text-center font-weight-bold">Votre compte a été crée avec succès !</p>
    </div>
  </div>
<% end %>

<% if request.params['connect'] && request.params['connect'] == 'success' %>
  <div class="container mt-5">
    <div class="alert alert-success" role="alert">
      <p class="h5 text-center font-weight-bold">Vous êtes bien connecté !</p>
    </div>
  </div>
<% end %>

<% if request.params['disconnect'] && request.params['disconnect'] == 'success' %>
  <div class="container mt-5">
    <div class="alert alert-success" role="alert">
      <p class="h5 text-center font-weight-bold">Vous êtes bien déconnecté !</p>
    </div>
  </div>
<% end %>

<main class="container mt-5">
  <div class="card-columns">
    <% @all_gossips.each do |gossip| %>

      <div class="card mb-5" style="width: 300px; ">
        <h5 class="card-header text-center">Potin de <%= gossip.user.first_name%></h5>
        <div class="card-body">
          <h5 class="card-title text-justify"><%= gossip.title%></h5>
          <p class="card-text text-justify"><%= gossip.content%></p>
          <div class="d-flex justify-content-between">
            <a href="<%= user_path(gossip.user_id) %>" class="btn btn-primary">Voir le profil</a>
            <a href="<%= gossip_path(gossip.id) %>" class="btn btn-primary">Voir le potin</a>
          </div>
          <div class="d-flex justify-content-between mt-3">
            <% if current_user.instance_of? User %>
              <% if gossip.likes.exists?(user_id: current_user.id)%>
                <a href="<%= like_path(gossip.likes.where(user_id: current_user.id)[0].id) %>" class="btn btn-danger" data-method="DELETE">Unlike</a>
              <% else %>
                <%= form_tag likes_path(action: 'create'), method: "post" do %>
                  <input type="hidden" name="gossip_id" value="<%=gossip.id %>">
                  <%= submit_tag "Liker", class: "btn btn-success" %>
                <% end %>
              <% end %>
            <% end %>
            <p class="text-muted font-italic"><%= gossip.likes.count %> like(s)</p>
            <p class="text-muted font-italic"><%= gossip.comments.count %> commentaire(s)</p>
          </div>
        </div>
        <div class="card-footer text-muted font-italic">
          Crée le <%= gossip.created_at.to_s %>
        </div>
      </div>
      
    <% end %>
  </div> 
</main>